/* Estilos base - personalize para seu squad */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', sans-serif;
               margin: 40px;
               background-color: rgba(240, 248, 255, 0.712);
}

header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  
}

main {
  margin-top: 50px;
  border: #abc6e9 2px solid;
  background-color: #c8dcf7;
  border-radius: 50px;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 20px;
}

li  {
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: #333;
}

h1, p {
  text-align: center;
}

.button {
  display: flex;  
  gap: 15px;                 
  justify-content: center;    
  margin: 30px;

}
.button a {
  display: flex;             
  align-items: center;
  justify-content: center;
}

.button a svg {
  width: 40px;             
  height: 40px;
  vertical-align: middle;
}

