@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: rgba(240, 248, 255, 0.712);
  --text: #0A0614;
  --cor-primaria: #172c4a81;;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Segoe UI, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--background);
}

img {
  max-width: 110px;
  height: 110px;
  margin-top: 20px;
  padding: 10px;
}

body * {
  color: var(--text);
}

.apresentação {
  text-align: center;
  gap: 20px;
  margin: 10px;
}

.estrofe1 {
  margin: 20px;
  padding: 15px;
  background-color: #172c4a81;
}

.work-experience {
  display: flex;
  
}
.work-card {
  text-align: center;
  flex: 1;
  margin: 20px;
  padding: 10px;
  background-color: #172c4a81;
}

.menu {
  display: flex;
  align-items: center;
  gap: 804px;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
  margin: 10px;

}

.menu ul {
  display: flex;
  align-items: center;
  gap: 30px;
  
}

.menu ul li {
  list-style: none;
  gap: 10px;
}

.menu ul li a {
  text-decoration: none;
  
}

.pag-ativa, .pag-home {
    background-color: var(--cor-primaria);
    box-shadow: #1f3a6197 10px 10px 20px;
    color: var(--background);
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; 
}

li:hover{
    transform: translateY(-10px);
  }

h1, h2, h3 {
  margin: 20px;
  padding: 10px;
}