/* Estilos base - personalize para seu squad */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', sans-serif;
  background-color: rgb(210, 208, 208);
}
ul, li, a{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  margin-bottom: 15px;
  text-decoration: none;
  color: black;
}
img{
    
  display: flex;

  width: 150px;
  height: 150px;
  border-style: solid;
  border-radius: 175px;
}
.membros{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   margin: 40px auto;
   padding:0 20px;
    
}
.colunas{
    display: flex;
    justify-content: flex-end;    
}
