body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #111;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    color: #00ff5e;
}

.titulo {
    text-align: center;
    margin-top: 40px;
}

.pessoas {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px;
    flex-wrap: wrap;
}

.card {
    background-color: #111;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}