body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}
header {
    padding: 20px;
    text-align: center;
    background-color: black;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
nav a:hover {
    color: #00ff5e;
}
.sobre {
    margin: 50px;
}
.perfil {
    background-color: #111;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}