/* Estilos base - personalize para seu squad */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', sans-serif;
}

header {
  background-color: #0a0a0a;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  color: #fff;
  font-size: 24px;
  margin-left: 20px;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  transition: 0,3s;
  padding: 8px 12px;
  border-radius: 5px;
}
.navbar ul li a:hover {
  background-color: #ffffff;
  color: #000000;
}