* {
  margin: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projetos {
  padding: 6rem 2rem;
}

.warlley {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}