* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0f172a;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 5rem;
  color: #4f46e5;
}

section {
  padding: 8rem 4rem;
}

h2 {
  font-size: 2rem;
  color: #4f46e5;
}

p {
  font-size: 20px;
  color: #e2e8f0;
}